<div class="cls-packageList">
    <div class="cls-packageCard" *ngFor="let package of filteredPackages">
        <div class="cls-packageImage">
            <img [src]="package.image">
            <span class="cls-badge">
                {{package.badge}}
            </span>
            <button class="cls-wishlist" (click)="toggleWishlist(package)">
                <span class="cls-heart" [ngClass]="{ 'cls-heart-outline':!package.favourite, 'cls-heart-filled':package.favourite }"></span>
            </button>
        </div>
        <div class="cls-packageContent">
            <h2> {{package.title}} </h2>
            <div class="cls-topRow">
                <div class="cls-duration">
                    <span class="cls-21-calender"></span>
                    {{package.days}}
                </div>
                <span class="cls-topRow-border"></span>
                <div class="cls-rating">
                    <span class="cls-48-star cls-star cls-{{package.ratingColor}}"></span>
                    {{package.rating}}
                    <small>
                        ({{package.reviews}} Reviews)
                    </small>
                </div>
            </div>
            <p class="cls-description">
                {{package.description}}
            </p>
            <div class="cls-includes">
                <div class="cls-item" *ngFor="let item of package.includes">
                    <span [class]="item.icon"></span>
                    <p> {{item.name}} </p>
                </div>
            </div>
            <div class="cls-budgetSection">
                <div class="cls-budgetHead">
                    <span> Budget Utilization </span>
                    <span> {{package.currentProgress}}% </span>
                </div>
                <div class="cls-progress">
                    <div class="cls-progressFill" [style.width.%]="package?.currentProgress"> </div>
                </div>
                <div class="cls-budgetFooter">
                    <span> Remaining Budget </span>
                    <b>
                        {{package.amountLabel}} {{package.remaining | number}}
                    </b>
                </div>
            </div>
        </div>
        <div class="cls-pricePanel">
            <p class="cls-priceTitle">
                Package Price
            </p>
            <h1>
                {{package.amountLabel}} {{package.price | number}}
            </h1>
            <div class="cls-budgetInfo">
                <span>Total Budget</span>
                <strong>
                    {{package.amountLabel}} {{package.totalBudget | number}}
                </strong>
            </div>
            <div class="cls-budgetInfo">
                <span>Remaining Budget</span>
                <strong class="green">
                    {{package.amountLabel}} {{package.remaining | number}}
                </strong>
            </div>
            <button class="cls-viewBtn" (click)="viewPackage(package)">
                View Package
                <span class="cls-2-arrow-right"></span>
            </button>
        </div>
    </div>
</div>