<div class="cls-hotelCard-details">
    <div class="cls-cardHead">
        <div class="cls-headerText">{{hotelDetails.length}} hotels found</div>
        <div></div>
    </div>
    <div class="cls-hotelList row">
        <div class="cls-hotelCard" *ngFor="let hotel of hotelDetails; trackBy: trackByHotel">
            <div class="cls-imageWrapper">
                <img class="cls-hotelImage" [src]="hotel.image" [alt]="hotel.hotelName" />
                <div class="cls-starBadge" *ngIf="hotel.discount != 0">
                    <span class="cls-starCount"> {{ hotel.discount }}% OFF </span>
                </div>
                <div class="cls-distance">
                    <span class="cls-locationIcon cls-58-location"></span>
                    {{ hotel.distanceFromCenter.value }}
                    {{ hotel.distanceFromCenter.unit }}
                    from center
                </div>
                <div class="cls-rating">
                    <span class="cls-thumb cls-57-thumb-up"></span>
                    <strong> {{ hotel.rating.score }} </strong>
                    <span> ({{ hotel.rating.reviewCount }}) </span>
                </div>
            </div>
            <div class="cls-hotelContent">
                <div class="cls-roomType">
                    <span class="cls-buildingIcon cls-51-hotel"></span>
                    {{ hotel.roomName }}
                </div>
                <h3 class="cls-hotelName"> {{ hotel.hotelName }} </h3>
                <div class="cls-location"> {{ hotel.location }} </div>
                <p class="cls-description"> {{ hotel.description }} </p>
                <div class="cls-amenities">
                    <div class="cls-amenity" *ngFor="let amenity of hotel.amenities">
                        <span class="cls-amenityIcon">
                            <ng-container [ngSwitch]="amenity.icon">
                                <span *ngSwitchCase="'wifi'"> ⌁ </span>
                                <span *ngSwitchCase="'pool'"> ♢ </span>
                                <span *ngSwitchCase="'spa'"> ♡ </span>
                                <span *ngSwitchDefault> • </span>
                            </ng-container>
                        </span>
                        <span> {{ amenity.name }} </span>
                    </div>
                </div>
                <div class="cls-divider"></div>
                <div class="cls-bottomSection">
                    <div class="cls-priceSection">
                        <div class="cls-price">
                            {{ hotel.pricing.currencySymbol }}
                            {{ hotel.pricing.pricePerNight | number }}
                            <span> /night </span>
                        </div>
                    </div>
                    <button type="button" class="cls-selectBtn" (click)="selectHotel(hotel)"> Select </button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="showPopup">
    <app-hotel-incdec [noOfDays]="nightCount" [selectHotelDetails]="selectedHotel" [usedNights]="usedNights" (closePopup)="closePopupFun($event)" (hotelSelected)="hotelSelectedFun($event)"></app-hotel-incdec>
</ng-container>
