@font-face {
  font-family: 'tripCraft';
  src:  url('../assets/fonts/icons/tripCraft.eot');
  src:  url('../assets/fonts/icons/tripCraft.eot') format('embedded-opentype'),
    url('../assets/fonts/icons/tripCraft.ttf') format('truetype'),
    url('../assets/fonts/icons/tripCraft.woff') format('woff'),
    url('../assets/fonts/icons/tripCraft.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cls-"], [class*=" cls-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tripCraft';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.cls-1-bars:before {
  content: "\e900";
}
.cls-2-arrow-right:before {
  content: "\e901";
}
.cls-3-medal:before {
  content: "\e902";
}
.cls-4-tag:before {
  content: "\e903";
}
.cls-5-secured-filled:before {
  content: "\e904";
}
.cls-6-support:before {
  content: "\e905";
}
.cls-7-youtube:before {
  content: "\e906";
}
.cls-8-instagram:before {
  content: "\e907";
}
.cls-9-facebook:before {
  content: "\e908";
}
.cls-10-twitter:before {
  content: "\e909";
}
.cls-11-hugeicons_location:before {
  content: "\e90a";
}
.cls-12-mail:before {
  content: "\e90b";
}
.cls-13-call:before {
  content: "\e90c";
}
.cls-14-tick-circle:before {
  content: "\e90d";
}
.cls-15-arrow-left:before {
  content: "\e90e";
}
.cls-16-close:before {
  content: "\e90f";
}
.cls-17-lock:before {
  content: "\e910";
}
.cls-18-search:before {
  content: "\e911";
}
.cls-19-wallet:before {
  content: "\e912";
}
.cls-20-arrow-down:before {
  content: "\e913";
}
.cls-21-calender:before {
  content: "\e914";
}
.cls-22-single-person:before {
  content: "\e915";
}
.cls-23-swap:before {
  content: "\e916";
}
.cls-24-arrival:before {
  content: "\e917";
}
.cls-25-departure:before {
  content: "\e918";
}
.cls-26-travel-explore:before {
  content: "\e919";
}
.cls-27-info:before {
  content: "\e91a";
}
.cls-28-upload:before {
  content: "\e91b";
}
.cls-29-send:before {
  content: "\e91c";
}
.cls-30-diamond:before {
  content: "\e91d";
}
.cls-31-crown:before {
  content: "\e91e";
}
.cls-32-office-worker:before {
  content: "\e91f";
}
.cls-33-student:before {
  content: "\e920";
}
.cls-34-trip:before {
  content: "\e921";
}
.cls-35-bag:before {
  content: "\e922";
}
.cls-36-tick:before {
  content: "\e923";
}
.cls-37-night:before {
  content: "\e924";
}
.cls-38-evening:before {
  content: "\e925";
}
.cls-39-morning:before {
  content: "\e926";
}
.cls-40-afternoon:before {
  content: "\e927";
}
.cls-41-clock:before {
  content: "\e928";
}
.cls-42-person-add:before {
  content: "\e929";
}
.cls-43-bulb:before {
  content: "\e92a";
}
.cls-44-language:before {
  content: "\e92b";
}
.cls-45-star-medal:before {
  content: "\e92c";
}
.cls-46-amount:before {
  content: "\e92d";
}
.cls-47-guide:before {
  content: "\e92e";
}
.cls-48-star:before {
  content: "\e92f";
}
.cls-49-bed:before {
  content: "\e930";
}
.cls-50-fitness:before {
  content: "\e931";
}
.cls-51-hotel:before {
  content: "\e932";
}
.cls-52-bus:before {
  content: "\e933";
}
.cls-53-teacup:before {
  content: "\e934";
}
.cls-54-ecg-heart:before {
  content: "\e935";
}
.cls-55-drop:before {
  content: "\e936";
}
.cls-56-wifi:before {
  content: "\e937";
}
.cls-57-thumb-up:before {
  content: "\e938";
}
.cls-58-location:before {
  content: "\e939";
}
.cls-59-camera:before {
  content: "\e93a";
}
.cls-60-food:before {
  content: "\e93b";
}
.cls-61-flight:before {
  content: "\e93c";
}
.cls-62-share:before {
  content: "\e93d";
}
.cls-63-download:before {
  content: "\e93e";
}
.cls-64-person-2:before {
  content: "\e93f";
}
.cls-65-passport:before {
  content: "\e940";
}
.cls-66-car:before {
  content: "\e941";
}
.cls-67-bike:before {
  content: "\e942";
}
.cls-68-edit:before {
  content: "\e943";
}
.cls-69-serving-food:before {
  content: "\e944";
}
.cls-70-dinner:before {
  content: "\e945";
}
.cls-71-transport:before {
  content: "\e946";
}
