.cls-tripReviewPage {
    padding: 25px;
    .cls-pageHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 34px;
        .cls-headerLeft {
            h1 {
                margin: 0 0 8px;
                font: 28px var(--primaryBold);
            }
            p {
                margin: 0;
                font: 14px var(--primaryRegular);
                color: #697386;
                .cls-icon{
                    margin: 0 10px;
                }
                strong { 
                    font: 14px var(--primaryBold);
                }
                .cls-separator {
                    margin: 0 7px;
                }
            }
        }
        .cls-headerActions {
            display: flex;
            gap: 12px;
            .cls-outlineBtn {
                background: white;
                border: 1px solid #dddfe5;
                border-radius: 11px;
                padding: 12px 17px;
                font: 14px var(--primaryRegular);
                color: #1c2942;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 9px;
                transition: .2s;
                &:hover {
                    border-color: #b18728;
                    color: #a87918;
                }
            }
        }
    }
    .cls-mainLayout {
        display: grid;
        grid-template-columns: 300px minmax(450px, 1fr) 365px;
        gap: 30px;
        align-items: start;
    }
}

@media (max-width: 1200px) {
    .cls-mainLayout {
        grid-template-columns: 280px 1fr;
    }
    app-budget-card {
        grid-column: 1 / -1;
    }
}
@media (max-width: 850px) {
    .cls-tripReviewPage {
        padding: 20px;
        .cls-pageHeader {
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            .cls-headerLeft {
                h1 {
                    font-size: 28px;
                }
            }
        }
        .cls-mainLayout {
            grid-template-columns: 1fr;
        }
    }
    app-budget-card {
        grid-column: auto;
    }
}
@media (max-width: 550px) {
    .cls-headerLeft {
        align-items: flex-start;
    }
    .cls-headerActions {
        width: 100%;
        .cls-outlineBtn {
            flex: 1;
            justify-content: center;
        }
    }
}