.cls-flight-main{
    .cls-flightHead{
        display: flex;
        justify-content: space-between;
        .cls-flightCount{
            font: 15px var(--primaryRegular);
            .cls-count{
                font-weight: 700;
            }
        }
        .cls-sectors{
            font: 14px var(--primaryLight);
        }
    }
    .cls-flight-body{
        display: flex;
        justify-content: space-between;
        .cls-flight-container, .cls-budget-container{
            width: 20%;
            box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        }
        .cls-flightCard-container{
            width: 55%;
            box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        }
    }
}
