.cls-flight-main{
    .cls-flight-details{
        margin: 0 30px 30px;
        .cls-flightHead{
            border-radius: 10px;
            padding: 20px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .cls-sector-details{
                h1{
                    margin: 0 0 5px;
                    font: 24px var(--primaryBold);
                }
                p{
                    color: #5e6b82;
                    font: 14px var(--primaryRegular);
                    margin-bottom: 10px;
                }
            }
        }
        .cls-flight-body{
            display: flex;
            justify-content: space-between;
            .cls-flight-container, .cls-budget-container {
                height: 112vh;
                overflow: hidden;
                overflow-y: auto;
            }
            .cls-flight-container, .cls-flightCard-container, .cls-budget-container {
                border-radius: 10px;
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
            }
            .cls-flight-container{
                width: 20%;
            }
            .cls-budget-container{
                width: 25%;
            }
            .cls-flightCard-container{
                width: 50%;
                .cls-sector-type{
                    display: flex;
                    background: #f2f4f8;
                    padding: 3px;
                    border-radius: 9px;
                    margin: 20px;
                    button{
                        border: none;
                        background: transparent;
                        padding: 10px 22px;
                        border-radius: 7px;
                        cursor: pointer;
                        font: 14px var(--primaryMedium);
                        width: 50%;
                        &.active{
                            background: #fff;
                            color: #1457d9;
                            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
                        }
                    }
                }
                .cls-countSec{
                    display: flex;
                    justify-content: space-between;
                    margin: 20px;
                    .cls-count{
                        font: 14px var(--primaryBold);
                    }
                    .cls-sector{
                        font: 14px var(--primaryRegular);
                        color: #aaa;
                    }
                }
            }
        }
    }
}
