<div class="cls-flight-main">
    <app-header></app-header>
    <div class="cls-flightHead">
        <p class="cls-flightCount">
            <span class="cls-count">5</span> flights found
        </p>
        <p class="cls-sectors">
            <span>Delhi</span>
            ->
            <span>Dubai</span>
        </p>
    </div>
    <div class="cls-flight-body">
        <div class="cls-flight-container">
            <app-filter></app-filter>
        </div>
        <div class="cls-flightCard-container">
            <app-flight-card></app-flight-card>
        </div>
        <div class="cls-budget-container">
            <app-budget-status></app-budget-status>
        </div>
    </div>
</div>