.cls-flightDetails{
    gap: 20px;
    display: grid;
    padding: 20px;
    height: 90vh;
    overflow-y: auto;
    .cls-flightCard{
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 0px 20px;
        margin-bottom: 20px;
        .cls-flightName-amount{
            display: flex;
            justify-content: space-between;
            padding: 15px;
            .cls-flightName{
                display: flex;
                .cls-airlineImg{
                    padding-right: 15px;
                    img{
                        width: 35px;
                        height: 35px;
                    }
                }
                .cls-flight{
                    display: grid;
                    .cls-airline{
                        font: 14px var(--primaryBold);
                    }
                    .cls-airlineSub{
                        font: 11px var(--primaryRegular);
                        color: #7a7a7a;
                        margin-top: 3px;
                    }
                }
            }
            .cls-flightAmount{
                text-align: end;
                .cls-Amount{
                    margin: 0px;
                    span{
                        font: 18px var(--primarySemiBold);
                    }
                }
                .cls-perPerson{
                    font: 11px var(--primaryRegular);
                    color: #7a7a7a;
                }
            }
        }
        .cls-flightSector{
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            .cls-arrivel,.cls-departure{
                text-align: center;
                p{
                    margin: 0px;
                }
                .cls-timing{
                    font: 16px var(--primaryBold);
                }
                .cls-sector{
                    font: 12px var(--primaryRegular);
                    color: #7a7a7a;
                }
                .cls-place{
                    font: 11px var(--primaryRegular);
                    color: #7a7a7a;
                }
            }
            .cls-stopsDiv{
                width: 35%;
                text-align: center;
                align-content: center;
                .cls-stopCount{
                    font: 12px var(--primaryRegular);
                    margin: 10px;
                }
                .cls-lineIcon{
                    margin: 0px;
                    position: relative;
                    .cls-line{
                        border: 0.1px solid #ccc;
                        width: 100%;
                        display: block;
                    }
                    .cls-icon{
                        position: absolute;
                        top: -11px;
                        background: #fff;
                        padding: 3px;
                        left: 85px;
                    }
                }
                .cls-stops{
                    font: 12px var(--primaryBold);
                    color: green;
                    margin: 10px;
                    &.cls-tooltip {
                        position: relative;
                        display: inline-block;
                        border-bottom: 1px dotted black;
                        cursor: pointer;
                        .cls-tooltiptext {
                            visibility: hidden;
                            width: 300px;
                            background-color: black;
                            color: #ffffff;
                            text-align: center;
                            border-radius: 6px;
                            padding: 8px 0;
                            position: absolute;
                            z-index: 1;
                            bottom: 100%;
                            left: 5%;
                            margin-left: -65px;
                            .cls-stopName{
                                font: 12px var(--primaryRegular);
                                letter-spacing: 0.3px;
                            }
                        }
                        &:hover .cls-tooltiptext {
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .cls-border{
            border: 0.1px solid #ecebeb;
            width: 100%;
            display: block;
        }
        .cls-stopValue{
            margin: 10px;
            .cls-stopName{
                margin-left: 10px;
                font: 12px var(--primaryRegular);
                vertical-align: bottom;
            }
        }
        .cls-passengerCount{
            display: flex;
            justify-content: space-between;
            padding: 10px 0px;
            .cls-passengerDetails{
                span{
                    font: 14px var(--primaryMedium);
                }
            }
            .cls-passengerAmount{
                span{
                    font: 18px var(--primaryBold);
                }
            }
        }
        .cls-selectBtn{
            margin: 20px 0px;
            width: 100%;
            border: unset;
            border-radius: 5px;
            padding: 10px;
            font: 14px var(--primarySemiBold);
            &.cls-selectBtn-active{
                background: blue;
                color: white;
                span{
                    font-size: 20px;
                    vertical-align: sub;
                    margin-right: 3px;
                }
            }
        }
    }
}