<div class="cls-filterMain">
    <div class="cls-filterHead">
        <span class="cls-header">Filters</span>
        <span class="cls-clear">Clear All</span>
    </div>
    <div class="cls-filterSec">
        <ng-container *ngFor="let filterData of filterValues">
            <div class="cls-filterOptions" [ngClass]="{'cls-checkBox-container': filterData.type == 'checkbox'}">
                <p class="cls-optionHead">{{filterData.head}}</p>
                <ng-container *ngIf="filterData.type == 'radio' || filterData.type == 'checkbox' ">
                    <div class="cls-radioData">
                        <div class="cls-radio-optionData" *ngFor="let optionData of filterData.options">
                            <input type="{{filterData.type}}" name="{{filterData.type}}Sec" id="{{optionData.id}}">
                            <label for="all">{{optionData.value}}</label>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="filterData.type == 'boxData'">
                    <div class="cls-boxData row">
                        <ng-container *ngFor="let boxValue of filterData.options">
                            <div class="cls-box-optionData" [ngClass]="{'cls-active': boxValue?.select}">
                                <span class="cls-iconValue {{boxValue.icon}}"></span>
                                <p class="cls-boxValue">{{boxValue.value}}</p>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="filterData.type == 'pricerange'">

                    <div class="cls-priceRange">

                        <div class="cls-rangeHead">
                            <span>₹{{minValue | number}}</span>
                            <span>₹{{maxLimit | number}}+</span>
                        </div>
 <!-- [(ngModel)]="minValue" -->
                        <input type="range" class="cls-range" min="0" [max]="maxLimit" step="500"
                            (input)="rangeChanged()">

                        <div class="cls-priceInput">

                            <input type="text" [value]="'₹ ' + (minValue | number)" readonly>

                            <span>to</span>

                            <input type="text" [value]="'₹ ' + (maxLimit | number) + '+'" readonly>

                        </div>

                    </div>

                </ng-container>
            </div>
        </ng-container>
    </div>
</div>