<div class="cls-transportList">
    <div class="cls-transportCard" *ngFor="let pkg of packageDetails" [ngClass]="{ 'cls-selected': selectedPackage?.id === pkg.id }">
        <div class="cls-transportCardTop">
            <div class="cls-transportCardInfo">
                <div class="cls-transportIconBox">
                    <span class="cls-iconValue {{ pkg.icon }}"></span>
                </div>
                <div class="cls-transportTextInfo">
                    <p class="cls-transportName">{{ pkg.name }}</p>
                    <p class="cls-transportDesc">{{ pkg.description }}</p>
                    <span class="cls-recommendedBadge" *ngIf="pkg.recommended">Recommended</span>
                </div>
            </div>
            <div class="cls-transportPriceInfo">
                <p class="cls-transportPrice">₹{{ pkg.price | number }}</p>
                <p class="cls-transportPriceSub">{{ pkg.tripDays }} days · ₹{{ pkg.perDayPrice | number }}/day</p>
            </div>
        </div>

        <div class="cls-transportTags">
            <span class="cls-tagItem">
                <span class="cls-iconValue {{ pkg.paxIcon }}"></span> Up to {{ pkg.maxPax }} pax
            </span>
            <span class="cls-tagItem" *ngFor="let lang of pkg.languages">
                <span class="cls-iconValue {{ pkg.languageIcon }}"></span> {{ lang | titlecase }}
            </span>
            <span class="cls-tagItem">
                <span class="cls-iconValue {{ pkg.ratingIcon }}"></span> {{ pkg.rating }} ({{ pkg.reviewCount }})
            </span>
        </div>

        <button class="cls-selectBtn" [ngClass]="{'cls-selected': selectedPackage?.id === pkg.id }" (click)="selectPackage(pkg)">
            <span class="cls-36-tick" *ngIf=" selectedPackage?.id === pkg.id "> </span>
            {{ selectedPackage?.id === pkg.id ? 'Selected' : 'Select Package' }}
        </button>
    </div>

    <div class="cls-noResults" *ngIf="!packageDetails.length">
        No transport packages match your filters.
    </div>
</div>